# DataScience Bootcamp 16 July API Homework

Scenario:

Getting random ppl (us nationality) name&their info from https://randomuser.me/api/?inc=name

then parse the ppl name to predict their age by using https://api.agify.io?name=

In [ ]:
#Setup

import pandas as pd
from requests import get
import time

In [ ]:
url1 = "https://randomuser.me/api/?inc=name"
url2 = "https://api.agify.io?name="

In [ ]:
#testing the 1st API

response1 = get(url1)
#getting the random name
response1.json()["results"][0]["name"]["first"]

'Christopher'

In [ ]:
#testing the 2nd API

response2 = get(url2 + response1.json()["results"][0]["name"]["first"])
response2.json()['age']

32

In [ ]:
#get 5 random name + predicted age & structured those into Dataframe

url1 = "https://randomuser.me/api/?inc=name"
url2 = "https://api.agify.io?name="

names = []
ages = []

for i in range(5):
    response1 = get(url1)
    #getting the random name
    name = response1.json()["results"][0]["name"]["first"]
    names.append(name)

    response2 = get(url2 + response1.json()["results"][0]["name"]["first"])
    #getting the predicted age
    pred_age = response2.json()['age']
    ages.append(pred_age)

df = pd.DataFrame({
    "Name": names,
    "Age": ages}
    )

df

       Name  Age
0  Vasilina   30
1    Zainab   37
2   Esteban   39
3   Manuela   49
4     Brett   46